<div>
  <div class="mb-3">
    <label class="form-label" for="messageemail">Email</label>
    <input class="form-control" type="email" id="messageemail" name="messageemail" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="messagecontent">Mensaje</label>
    <textarea class="form-control" type="text" id="messagecontent" name="messagecontent" required></textarea>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" onclick="sendMessage()">Enviar</button>
    <button class="btn btn-danger" onclick="clearFields()">Borrar</button>
  </div>
</div>