<form action="products" method="post">
  <div class="mb-3">
    <label class="form-label" for="name">Nombre</label>
    <input class="form-control" type="text" id="name" name="name" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="price">Precio</label>
    <input class="form-control" type="number" id="price" name="price" required/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="thumbnail">Imagen</label>
    <input class="form-control" type="text" id="thumbnail" name="thumbnail" required/>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Confirmar</button>
    <button class="btn btn-danger" type="reset">Borrar</button>
  </div>
</form>
<a href="products" class="btn btn-primary" role="button">Ver productos</a>